MONGODB_URI=mongodb://127.0.0.1:27017/freelancer-saas
JWT_SECRET=itssecret

S3_BUCKET=your-bucket-name
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=your-access-key
S3_SECRET_ACCESS_KEY=your-secret-key

NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:3000
GOOGLE_API_KEY=
GROQ_API_KEY=
